<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Head -->
    <div th:replace="/fragments/head.html" :: fragment-head/>
    <title>Forum</title>
</head>
<body>
    <!-- Header -->
    <div th:replace="/fragments/header.html" :: fragment-header/>

    <!-- Nav -->
    <div th:replace="/fragments/nav.html" :: fragment-nav/>

    <div class="container">
        <tr>
            <th>
                <span class="badge badge-secondary">자유게시판</span>
            </th>
            <div class="container">
                <div class="row marketing">
                    <div class="col-lg-12">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title">
                                    <div th:utext="${board.title}"></div>
                                </h3>
                            </div>
                            <div th:utext="${board.content}" class="panel-body"></div>
<!--                            <button class="primary-btn btn" th:onclick="|window.location.href='/article/update/${board.id}'|">수정하기</button>-->
                        </div>
                    </div>
                </div>
            </div>
        </tr>
    </div>

    <!--  공통 스트립트  -->
    <div th:replace="/fragments/commonScript.html" :: fragment-commonScript/>

</body>
</html>