<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <!-- Head -->
    <div th:replace="/fragments/head.html" :: fragment-head/>
    <title>Forum</title>
</head>
<body>
    <!-- Header -->
    <div th:replace="/fragments/header.html" :: fragment-header/>

    <!-- Nav -->
    <div th:replace="/fragments/nav.html" :: fragment-nav/>

    <div class="alert alert-dark">
        <strong>자유게시판</strong> 자유롭게 작성하는 게시판입니다.
        <div class="float-right">
            <a sec:authorize="isAuthenticated()" th:href="@{/forumWrite}" id="forum_write_btn" class="btn btn-outline-info" role="button">글쓰기</a>
        </div>
    </div>

    <table class="table table-bordered">
        <thead class="thead-dark">
            <tr>
                <th style="width: 10%">No</th>
                <th style="width: 70%">제목</th>
                <th style="width: 20%">글쓴이</th>
                <!--<th style="width: 10%">날짜</th>-->
            </tr>
        </thead>
        <tbody>
            <tr th:each="board : ${boardList}">
                <td th:text="${board.getBoardSeq()}"></td>
                <td th:text="${board.getTitle()}"></td>
                <td th:text="${board.getWriter()}"></td>
            </tr>
        </tbody>
    </table>


    <!--  공통 스트립트  -->
    <div th:replace="/fragments/commonScript.html" :: fragment-commonScript/>
</body>
</html>