<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <header th:fragment="fragment-header">
        <div class="jumbotron text-center" style="margin-bottom:0">
            <h1>Jinho's Blog</h1>
            <div class="float-center">
                <a th:href="@{https://github.com/PARKJINHOH}" title="github">
                    <img th:src="@{/static/img/Github_img_100.png}" class="img-responsive" alt="github">
                </a>
                <a th:href="@{https://adg0609.tistory.com/}" title="github">
                    <img th:src="@{/static/img/tistory_img_100.png}" class="img-responsive" alt="tistory">
                </a>
            </div>
        </div>
    </header>
</html>